<!-- 
GROUP 3 PROJECT
Date: 11-12-2023
 -->


 <main class="container" style="background-color: lightgray;">
    <div class="jumbotron">
  
      <p>Contact Us</p>
  
      <ul>
        <li>Address: 941 Progress Ave, Toronto Ontario</li>
        <li>Email: gdeside1@my.centennialcollege.ca</li>
        <li>Phone Extension: 647-936-3582</li>
      </ul>
  
      <blockquote><b>If you have any other concerns, Kindly leave a message below:</b></blockquote>
      <form action="mailto:gdeside1@my.centennialcollege.ca">
        <input type="submit" value="Submit" style="float: right">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>
  
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
  
        <label for="contact_number">Contact Number:</label>
        <input type="tel" id="contact_number" name="contact_number" required><br><br>
  
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required><br><br>
  
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
  
  
    </form>