<!-- 
GROUP 3 PROJECT
Date: 11-12-2023
 -->
 
 <main class="container" style="background-color: lightgray;">
  <style>
    .services-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services {
            text-align: center;
            margin: 10px; /* Add some spacing between projects if desired */
        }
    .services img {
        max-width: 100%;
       max-height: 100%;
    }
</style>
    <!-- Add this CSS block within the <style> tag in your HTML or in an external CSS file -->    
      <section class="services-section">
      <div class="services">
   
     <blockquote><b> The services we offer are listed below
     </b></blockquote>
  
     <ul>
       <li> <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        Oracle Base Database Service is an automated
         database service that runs Oracle Database Enterprise Edition and Standard Edition workloads on flexible virtual machine (VM) shapes in Oracle Cloud Infrastructure (OCI). </b></p>
         <img src="Assets/images/service1.png" style: width="320px"; height="320px" alt="services"></li>
       <li> 
         <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
          Visual Studio Code is a free coding editor that helps you start coding quickly. Use it to code in
           any programming language, without switching editors. Visual Studio Code has support for many languages, including Python, Java, C++, JavaScript, and more.</b></p>
         <img src="Assets/images/service2.jpg" style: width="320px"; height="320px" alt="services" ></li>
     </ul>
     </div> 
     </section>
 </main>
  
  
  