
    
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <h1>Please Login</h1>
        <style>
          body {
            background-image: url('Assets/images/incident2.png');
            background-size: cover;
          }
        </style>
    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter username" required autofocus>
          </fieldset>
    
          <fieldset class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
          </fieldset>
    
          <div>
            <!-- Link to registration page -->
            or Don't have an account?
            <a href="/register">Register Here</a>
          </div>
    
          <fieldset class="form-group text-right">
            <button type="submit" class="btn btn-success">Login</button>
            <!-- Correct usage of routerLink for Cancel button -->
            <button type="button" class="btn btn-warning" routerLink="/">Cancel</button>
          </fieldset>
          
        </form>
      </div>
    </div>
    
    